.headline {
    max-width: 1420px;
    margin: auto;
    padding: 0 100px;
    width: 100%;
}

.hero {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
    padding: 4px 12px 4px 4px;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
    color: #FFFFFF;
    background-color: #0077b6;
    box-shadow: rgba(25, 25,25, 0.2)0px 0px 2px 0px;
}

.badge {
    padding: 4px 12px;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #0077b6;
    color: #0077b6;
}

